.lower_left_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower_left_footer > a{
    padding: 10px 50px;
}

.footer_rightmost{
    padding: 15px;
    display: block;
}


.lower_footer{
    padding-top: 10px;
}

.language {
    font-size: 12px;
} 
