
   
   /* Search Bar */
    .search_bar {
        width: 90%;
    }

    .search_bar i {
        font-size: 14px;
    }

    /* Footer */
    footer {
        height: 150px;
    }

    .upper_footer {
        height: 50px;
    }

    .lower_footer {
        height: 100px;
        flex-direction: column;
    }

    .lower_left_footer {
        flex-wrap: wrap;
    }

