
   
   /* Search Bar */
    .search-bar {
        width: 90%;
    }

    .search-bar i {
        font-size: 14px;
    }

    /* Buttons */
    /* .search-btns button {
        height: 40px;
        font-size: 14px;
    } */

    /* Footer */
    footer {
        height: 150px;
    }

    .upper-footer {
        height: 50px;
    }

    .lower-footer {
        height: 100px;
        flex-direction: column;
    }

    .lower-left-footer {
        flex-wrap: wrap;
    }

